<a href="https://colab.research.google.com/github/circlenose/pyt/blob/master/%ED%8A%B8%EB%A0%88%EC%9D%B4%EB%8B%9D%EB%B6%81_1%EC%9E%A5_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.2.2 파이썬 기초

변수

In [3]:
msg ='test'
print(msg)

test

In [4]:
msg[0]

't'

연산

In [5]:
data = 1
data = data + 10
print(data)

11

예약어

In [6]:
# 객체 : 데이터(값)과 데이터의 처리가 하나로 묶인 어떤 것!

# 예약어를 표시하는 명령어
__import__('keyword').kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
# 내장형 함수 목록
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'dreload',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### 1.2.3 리스트와 딕셔너리

In [8]:
# 리스트 : 복수의 값을 하나의 그룹으로 다루기 위한 구조
# 다른 언어에서의 배열과 같은 것

# 리스트 생성
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(data_list)

# type 명령으로 변수 형을 알 수 있다
print('변수 형:', type(data_list))

# 1개의 원소 출력
print('두 번째 원소:', data_list[1])

# len 함수로 원소의 개수를 출력
# 여기에서는 1부터 10까지 10개의 원소가 있기 때문에 결과는 10
print('원소의 개수는:', len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
변수 형: <class 'list'>
두 번째 원소: 2
원소의 개수는: 10

In [9]:
# 리스트 자체가 두 번 생성됨
data_list * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
# 메서드 
  # append : 리스트 원소 추가
  # remove, pop, del : 리스트 원소 제거

In [11]:
# 딕셔너리 : 키와 값을 한 쌍으로 복수의 원소 관리, 키에는 정수뿐 아니라 문자열도 가능, 순서 없음
  # 형식 : {키:값}

dic_data = {'apple':100, 'banana':100, 'orange':300, 'mango':400, 'melon':500}
print(dic_data['melon'])

500

In [12]:
print(dic_data['orange'])
print(dic_data['apple'] + dic_data['orange'])

300
400

In [13]:
# 딕셔너리 데이터에 새로운 원소 추가
dic_data['grape'] = 1000
print(dic_data)

{'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500, 'grape': 1000}

In [14]:
# 딕셔너리 데이터에서 원소 삭제
del dic_data['grape']
print(dic_data)

{'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}

In [15]:
# 파이썬 튜플과 집합에 대해 역할과 사용 방법을 찾아보고 사용해 봅시다

### 1.2.4 조건 분기와 반복문

비교 연산자와 진릿값 연산

In [16]:
# 어떤 식이 성립할지(참) 성립하지 않을지(거짓) 판정
# 진릿값 연산은 if문과 반복문 처리에서 사용

1 == 1

True

In [17]:
1 == 2

False

In [18]:
1 != 2

True

In [19]:
1 > 0

True

In [20]:
1 > 2

False

In [21]:
# and : 두 개의 조건식이 모두 성립하면 참
(1 > 0) and (10 > 5)

True

In [22]:
# or : 어느 한쪽만 성립하면 참
(1 < 0) or (10 > 5)

True

In [23]:
# not : 참거짓을 부정
not(1 < 0)

True

if 문

In [24]:
# 조건 분기 : 어떤 조건에 따라 처리 내용이 달라지는 것, if문 사용
findvalue = 5

# if문 시작
if findvalue in data_list:
  # 조건식의 결과가 참일 때
  print('{0}은 들어 있습니다.'.format(findvalue))
else:
  # 조건식 결과가 거짓일 때
  print('{0}은 들어 있지 않습니다.'.format(findvalue))
# 여기에서 if문 끝남

# 이하부터 if문과 다른 내용이 시작
print('여기서부터는 if문과 관계없이, 반드시 표시됩니다.')

5은 들어 있습니다.
여기서부터는 if문과 관계없이, 반드시 표시됩니다.

In [33]:
# 출력 결과가 바뀌도록 숫자를 바꿔 실행해 봅시다. 또 조건문이나 출력 결과 등을 바꿔 봅니다.
findvalue = 8 or 9

if findvalue in data_list:
  print('{0}은 들어 있습니다.'.format(findvalue))

  # 여러가지를 넣는 법을 알고 싶다!

8은 들어 있습니다.

In [ ]:
print('{0}과 {1}을 더하면 {2}입니다.'.format(2, 3, 5))

2과 3을 더하면 5입니다.

In [ ]:
# {0}이나 {1}과 같이 값을 끼워 넣는 표기에는 숫자의 자릿수 표시 방법을 지정하는 옵션도 있습니다. 찾아보세요
# https://dojang.io/mod/page/view.php?id=2300

for 문

In [ ]:
# for : 코드를 반복적으로 실행, 리스트 데이터 등에서 데이터를 1개씩 추출해 데이터가 더 이상 없을 때까지 반복 처리

# 초깃값 설정
total = 0

# for 문
for num in [1, 2, 3]:
  # 추출한 값 출력
  print('num:', num)
  # 지금까지 추출한 값의 합계
  total = total + num

# 최종 합계 출력
print('total:', total)

num: 1
num: 2
num: 3
total: 6

In [ ]:
# for문 딕셔너리
for dic_key in dic_data:
  print(dic_key, dic_data[dic_key])

  # 위에서는 dic_data['키 이름'] 으로 불러왔고 여기서는 dic_data[변수명]

apple 100
banana 100
orange 300
mango 400
melon 500

range 함수를 이용한 반복 리스트 지정

In [ ]:
# range : 연속된 정수값으로 리스트 생성 시 편리, N 지정 시 N-1까지 출력!

# range(N)으로 코딩했을 때 0부터 N-1까지의 정수
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# range(시작값, 마지막값-1, 간격) range는 연속된 값을 불러오는 거라는 것을 잊지마!!!
for i in range(1, 11, 2):
  print(i)

1
3
5
7
9

복합한 for문과 컴프리헨션

In [ ]:
# 키와 값을 추출하고 출력
for key, value in dic_data.items():
  print(key, value)

apple 100
banana 100
orange 300
mango 400
melon 500

In [ ]:
# 컴프리헨션 : for문을 이용해 추출한 데이터를 별도의 리스트 데이터로 만드는 방법

# 빈 리스트 생성
data_list1 = []

# 컴프리핸션. data_list에서 하나씩 추출한 원소 값을 2배로 만든 새로운 값의 리스트를 생성
data_list1 = [i * 2 for i in data_list]
print(data_list1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 컴프리헨션에서는 조건을 지정하고 조건에 일치하는 값만 새로운 리스트의 원소로 만드는 것도 가능
[i * 2 for i in data_list if i % 2 == 0]

[4, 8, 12, 16, 20]

zip 함수

In [34]:
# zip ; 각기 다른 리스트에서 동시에 값 추출
for one, two in zip([1, 2, 3], [11, 12, 13]):
  print(one, '과', two)

1 과 11
2 과 12
3 과 13

while문을 이용한 반복 실행

In [ ]:
# while문 : 조건이 성립할 동안 계속 반복 실행되는 구문

In [35]:
# 초깃값 설정
num = 1

# while문 시작
while num <= 10:
  print(num)
  num = num + 1
# while문 끝

# 마지막 입력된 값을 출력
print('마지막 값은 {0}입니다.'.format(num))

1
2
3
4
5
6
7
8
9
10
마지막 값은 11입니다.

### 1.2.5 함수

함수 기초

In [ ]:
# 함수 : 여러 가지 수행할 작업을 하나로 정리해 묶어 놓은 구조, 반복 작업 시 편리

In [37]:
# 곱셈 계산 함수
def calc_multi(a, b):
  return a * b

In [38]:
calc_multi(3, 10)

30

In [39]:
def calc_print():
  print('print 샘플 함수')

In [40]:
calc_print()

print 샘플 함수

In [42]:
# 피보나치 수 계산 함수
def calc_fib(n):
  if n == 1 or n == 2:
    return 1
  else :
    return calc_fib(n - 1) + calc_fib(n - 2)

In [43]:
print('피보나치 수:', calc_fib(10))

피보나치 수: 55

익명 함수와 map

In [44]:
# lambda : 익명 함수(이름이 없는 함수) 생성 키워드, 리스트나 배열 등의 원소 값에 어떤 함수를 실행해야 할 때 주로 사용

# calc_multi 함수를 정의
def calc_multi(a, b):
  return a * b

# 정의한 함수를 실행
calc_multi(3, 10)

30

In [48]:
(lambda a,b : a * b)(3, 10)

30

In [49]:
# map : 원소 값을 대상으로 어떤 작업을 수행할 경우 사용, 고차함수라고도 불림(함수를 인수 값으로 받거나 결과를 함수로 반환), 개별 원소에 대해 어떤 작업을 수행할 때 사용

In [50]:
def calc_double(x):
  return x * 2

In [51]:
for num in [1, 2, 3, 4]:
  print(calc_double(num))

2
4
6
8

In [53]:
# map 함수 사용
list(map(calc_double, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [57]:
list(map(lambda x : x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [ ]:
# reduce 함수나 filter 함수의 사용방법을 찾아보고 직접 사용해 봅시다

### [ 연습문제 1-1 ]
어떤 문자열(Data Science 등)을 변수로 저장하고 그것을 한 문자씩 출력하는 프로그램을 작성하세요.

In [74]:
str1 = 'Data Science'

for i in str1:
  print(i)

D
a
t
a

S
c
i
e
n
c
e

답안 1

In [75]:
sampl_str = "Data Science"

for i in range(0, len(sampl_str)):
  print(sampl_str[i])

D
a
t
a

S
c
i
e
n
c
e

답안 2

In [77]:
for i in sampl_str:
  print(i, end = "") # 개행 없에기

Data Science

###[ 연습문제 1-2 ]
1부터 50까지 자연수의 합을 계산해 최종적으로 합산 결과를 출력하는 프로그램을 작성하세요.

In [80]:
a = 0
for i in range(51):
  a += i

print(a)

1275

답안 1

In [81]:
print(sum(range(1, 51))) # sum 함수 이용

1275

답안 2

In [92]:
print(sum(x for x in range(1, 51)))

1275

### 1.2.6 클래스와 인스턴스

In [97]:
# PrintClass 클래스 작성과 print_me 메서드(함수) 작성
class PrintClass : 
  def print_me(self):
    print(self.x, self.y)
  
# 인스턴스 작성 및 생성
p1 = PrintClass()

# 속성 값 입력
p1.x = 10
p1.y = 100
p1.z = 1000

# 메서드 호출
p1.print_me()

10 100

In [107]:
class MyClacClass:

  # 생성자 : 객체 생성 시 호출되는 특수한 함수, 초기화 등
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def calc_add1(self, a, b):
    return a + b

  def calc_add2(self):
    return self.x + self.y

  def calc_multi(self, a, b):
    return a * b

  def calc_print(self, a):
    print('data:{0}:y의 값{1}'.format(a, self.y))

In [108]:
instance_1 = MyClacClass(1, 2)
instance_2 = MyClacClass(5, 10)

In [109]:
print('2개의 수를 더함(새로운 숫자를 인수로 지정):', instance_1.calc_add1(5, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값:)', instance_1.calc_add2())
print('2개의 수를 곱함:', instance_1.calc_multi(5, 3))
instance_1.calc_print(5)

2개의 수를 더함(새로운 숫자를 인수로 지정): 8
2개의 수를 더함(인스턴스화 될 때의 값:) 3
2개의 수를 곱함: 15
data:5:y의 값2

In [110]:
print('2개의 수를 더함(새로운 숫자를 인수로 지정):', instance_2.calc_add1(10, 3))
print('2개의 수를 더함(인스턴스화 될 때의 값:', instance_2.calc_add2())
print('2개의 수를 곱함:', instance_2.calc_multi(4, 3))
instance_2.calc_print(20)

2개의 수를 더함(새로운 숫자를 인수로 지정): 13
2개의 수를 더함(인스턴스화 될 때의 값: 15
2개의 수를 곱함: 12
data:20:y의 값10

### 1장 종합문제
종합문제 [1-1 소수판정]
1. 10까지의 소수를 출력하는 프로그램을 작성하세요. 여기서 소수는 약수가 1과 자기자신 뿐인 양의 정수를 말합니다.

2. 위의 예제를 일반화해서, 자연수 N까지의 소수를 출력하는 함수를 작성하세요.

In [141]:
# 문제 1

n=10

def isPrime(a):
  if(a<2):
    return False
  for i in range(2,a):
    if(a%i==0):
      return False
  return True

for i in range(n+1):
  if(isPrime(i)):
    print(i)

'''
def prime_num(a):
  for a in range(2,11):
    if a % 2 == 0:
      return False
    return True

prime_num(2)
'''

2
3
5
7

'\ndef prime_num(a):\n  for a in range(2,11):\n    if a % 2 == 0:\n      return False\n    return True\n\nprime_num(2)\n'

In [142]:
a = [False,False] + [True]*(n-1)
primes=[]

for i in range(2,n+1):
  if a[i]:
    primes.append(i)
    for j in range(2*i, n+1, i):
        a[j] = False
print(primes)

[2, 3, 5, 7]